@import "../../styles/variables.scss";
@import "~/styles/utils.scss";

.contact_section {
  background-image: url(/img/satellite-map.png);
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.contact_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  @include respond-to("medium") {
    width: 80%;
  }
}

.itemA {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;

  @include respond-to("medium") {
    max-width: 50%;
    align-items: flex-start;
    padding: 0 20px;
  }

  h2 {
    max-width: 70%;
  }

  p {
    max-width: 70%;
  }

  .address {
    max-width: 300px;
  }

  .phones {
    max-width: 240px;
  }
}

.itemB {
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include respond-to("medium") {
    max-width: 50%;
  }

  .containerItems {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    align-items: center;

    @include respond-to("medium") {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .inputNameCont {
    padding: 30px 20px;
    width: 80%;

    @include respond-to("medium") {
      padding: 30px 20px 10px 40px;
      width: 50%;
    }

    .inputName {
      border: #cccccc 0.5px solid;
      width: 100%;
      height: 70px;
    }
  }

  .inputEmailCont {
    padding: 30px 20px;
    width: 80%;

    @include respond-to("medium") {
      padding: 30px 40px 10px 20px;
      width: 50%;
    }

    .inputEmail {
      border: #cccccc 0.5px solid;
      width: 100%;
      height: 70px;
    }
  }

  .inputMessageCont {
    padding: 0 40px;
    width: 100%;

    .inputMessage {
      display: flex;
      border: #cccccc 0.5px solid;
      width: 100%;
      height: 200px;
    }
  }

  .buttonForm {
    padding: 20px 0 0 40px;

    button {
      padding: 10px 35px;
      background-color: $primary;
      color: white;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
    }
  }
}

.error {
  color: red;
}
