@import "../../../styles/variables.scss";
@import "../../../styles/utils.scss";

.mobileMenu {
  background-color: purple;
  width: 500px;
}

.ant-menu-item-selected {
  background-color: yellow !important;
  .anticon {
    color: white;
  }
}

.ant-menu-submenu {
  .ant-menu-sub {
    background-color: purple !important;
  }
}

.footerContainer {
  display: flex;
  justify-content: center;

  .footer {
    display: flex;
    justify-content: center;
    background: $secondary;
    position: absolute;
    bottom: 0;
    width: 100%;

    span {
      font-size: 10px;
      color: white;
    }
  }
}
