@import "../../../styles/variables.scss";

.counterCard {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.value {
  display: flex;
  flex: 100%;
  justify-content: flex-end;
  font-size: 28px;
  margin-bottom: 14px;
  color: #374051;
  font-weight: 300;
}

.icon {
  font-size: 31px;
  color: $secondary;
}

.label {
  flex: 80%;
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  color: #b0b0b0;
}
.progress {
  flex: 100%;
}
