.recent {
    display: flex;
    margin-bottom: 20px;
}

.recent > img {
    width: 100px;
}

.recent > a {
    font-family: poppins, sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #204163;
    padding-left: 15px;
    letter-spacing: -0.5px;
}
