.dashboardCard {
  transition: all 0.3s ease-in-out;
  background: #fff;
  border-color: #eee;
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  padding: 20px;
  margin: 0 15px;
}

.dashboardCard:hover {
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 10%);
}
