.dashboardCard {
    -webkit-box-shadow: 0 5px 5px -5px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 5px 5px -5px rgba(0,0,0,.1);
    box-shadow: 0 5px 5px -5px rgb(0 0 0 / 10%);
    border: 0!important;
    margin-bottom: 25px;
    border-radius: 0;
}