@import "~/styles/utils.scss";

.page-header {
  height: 250px;
  background-color: #0c0829;
  color: white !important;
  display: flex;
  align-items: center;
  position: relative;

  text-align: center;

  @include respond-to("medium") {
    padding: 60px 0;
  }
}

.headerTitle {
  color: white !important;
  h2 {
    color: white !important;
  }
}
