@import "~/styles/utils.scss";

.elementContainer {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  display: flex;
  justify-content: center;
  width: 600px;
}

.informationContainer {
  width: 500px;

  div {
    display: flex;
    flex-direction: column;
    text-align: center;

    @include respond-to("medium") {
      text-align: left;
    }
  }
}
