@import "../../../../styles/variables.scss";
@import "../../../../styles/utils.scss";

.containerItems {
  display: flex;
  flex-direction: column;
  align-items: center;

  .buttonContainer {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .note {
      color: $error;
      font-size: 10px;
      position: absolute;
      transform: translateY(38px);
    }
    .timer {
      font-size: 12px;
      color: $primary;
      transform: translate(110px, 55px);
      position: absolute;
    }
  }

  .resendCode {
    padding-top: 15px;
    font-size: 10px;
  }

  .forgot {
    padding: 20px 0 10px 0;
  }

  a {
    color: rgb(0, 81, 255);
  }
}

.header {
  box-shadow: none;
  color: #444;
  padding: 15px 0 0 20px;
  position: relative;
  p {
    font-size: 20px;
  }
}

.messaje {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  span {
    font-size: 12px;
  }
}
