@import "~/styles/utils.scss";
@import "~/styles/variables.scss";

.layout {
    height: 100vh;
}

.dashboard {
    display: flex;
    height: calc(100% - 60px);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    .menu {
        background: $accent;
    }
    .content {
        flex: 1;
        background: #f1f4f9;
        .footer {
            background: #fff;
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 19px 25px;
        }
    }
}
.header {
    height: 60px;
    display: flex;
    .logo {
        background: $primary;
        transition: width 0.3s cubic-bezier(0.2, 0, 0, 1);
        a {
            color: white;
            text-decoration: none;
            margin: 0 auto;
            font-size: 20px;
            font-weight: 700;
            line-height: 60px;
            padding: 0 15px;
        }
    }
    .navBar {
        flex: 1 1;
        display: flex;
        .navBarLeft{
            flex: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
        }
        .navBarRight{
            
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
        }
    }
}

.expanded {
    width: 256px;
}

.collapsed {
    width: 60px;
}

.menuButton {
    height: 100%;
    padding: 0 20px;
    cursor: pointer;
}
