@import "~/styles/utils.scss";
@import "~/styles/variables.scss";

.layout {
  height: 100vh;
}

.dashboard {
  display: flex;
  height: calc(100% - 60px);
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  .menu {
    display: none;
    background-color: $terciary;
    @include respond-to("medium") {
      display: flex;
      flex-direction: column;

      span {
        color: black;
      }

      .avatarSmall {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 0 5px 0;

        .photoSmall {
          border-radius: 50%;
          border: $primary 2px solid;
        }
      }

      .avatar {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 0 5px 0;

        .photo {
          border-radius: 50%;
          border: $primary 7px solid;
        }

        .userInfo {
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 5px 0 0px 0;

          span {
            color: black;
            font-weight: 600;
          }

          h5 {
            color: $primary;
            font-size: 20px;
            font-weight: 600;
          }
        }
      }
    }
  }
  .content {
    width: 100%;
    flex: 1;
    background: #f1f4f9;
  }
}

.footerContainer {
  display: flex;
  justify-content: center;

  .footer {
    display: flex;
    justify-content: center;
    width: 256px;
    background-color: $secondary;
    position: absolute;
    bottom: 0;

    span {
      font-size: 10px;
    }
  }
}

.copyrightContainer {
  display: flex;
  align-items: flex-end;
  height: 100%;

  &:hover {
    i {
      color: white;
    }
    .copyrightButton {
      background-color: $hover-button-color;
    }
  }

  i {
    color: grey;
    position: absolute;
  }

  .copyrightButton {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    width: 60px;
    height: 60px;
  }
}

.header {
  height: 60px;
  display: flex;

  .logo {
    display: none;

    @include respond-to("medium") {
      display: flex;
      background: white;
      transition: width 0.3s cubic-bezier(0.2, 0, 0, 1);

      a {
        color: black;
        text-decoration: none;
        margin: 0 auto;
        font-size: 20px;
        font-weight: 700;
        line-height: 60px;
        padding: 0 15px;
      }
    }
  }

  .navBar {
    background-color: $primary;
    flex: 1 1;
    display: flex;

    .menuButton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;

      &:hover {
        background-color: $hover-button-color;

        i {
          color: white;
        }
      }

      @include respond-to("medium") {
        display: none;
      }
    }

    .navBarLeft {
      display: none;

      @include respond-to("medium") {
        flex: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
      }
    }

    .navBarRight {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      width: 100%;
      padding: 0 50px 0 0;

      .barRightButton {
        display: flex;
        align-items: center;
        justify-content: center;

        transition: all 0.5s;
        width: 70px;
        height: 80%;
        i {
          position: relative;
        }

        &:hover {
          background-color: $hover-button-color;

          i {
            color: white;
          }
        }

        .numNot {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translate(10px, -10px);

          background-color: red;
          border-radius: 50%;
          width: 18px;
          height: 18px;

          span {
            font-size: 10px;
            font-weight: 600;
            color: white;
          }
        }
      }
    }
  }
}

.expanded {
  width: 256px;
}

.collapsed {
  width: 60px;
}

.menuArrowButton {
  height: 100%;
  padding: 0 20px;
  cursor: pointer;
}
