.postEntry {
}

.metadata {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
  font-family: work sans, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  color: #204163;
}

.metadata > div {
  margin-right: 20px;
}

.metadata > div > i {
  margin-right: 10px;
}
