<<<<<<< HEAD
.titleShowcase {
=======
.title {
>>>>>>> 4220d653b022245e9eba87d357a41ee976854bc9
  display: flex;
  justify-content: center;
  margin: 50px;

  h1 {
    color: grey;
  }
}
<<<<<<< HEAD
.textShowCase {
=======
.text {
>>>>>>> 4220d653b022245e9eba87d357a41ee976854bc9
  display: flex;
  justify-content: center;
}
